@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  /* margin: 35px 50px; */
  font-family: 'Montserrat', sans-serif;
}

.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,.hamburger-middle,.hamburger-bottom{
  position: absolute;
  top:0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;

}
.hamburger-middle{
  transform:translateY(7px)
}
.hamburger-bottom{
  transform:translateY(14px)
}
.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle{
  display: none;
}
.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.hero-img img{
  width: 90%;
 
}
.start-btn{
  background: #499ede;
    border-radius: 8px;
    box-sizing: border-box!important;
    color: #fff;
    display: inline-block;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 700!important;
    line-height: 22px;
    min-width: 185px;
    padding: 11px 30px;
    position: relative;
    text-align: center;
    transition: color .5s ease,background .5s ease,border .5s ease;
    
}
