@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  /* margin: 35px 50px; */
  font-family: 'Montserrat', sans-serif;
}
/* nav{
  display: flex;
  justify-content: space-around;
  align-items: center; 
} */
/* .flyer{
  position: relative; width: 100%; height: 0; padding-top: 100.0000%;
padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
border-radius: 8px; will-change: transform;
}
iframe{
  position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;
} */
/* .logo-image{
  width: 50%;
} */
/* img{
  width:50%
} */
/* .navlinks a{
  display: flex;
  fle
  text-decoration: none;
  font-weight: bold;
  color: #0b2239;
} */
/* nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  position: relative;
}

.logo{
  color: #499ede;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navlinks a {
  color: #0b2239;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navlinks a:hover {
  color: #499ede
} */
.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,.hamburger-middle,.hamburger-bottom{
  position: absolute;
  top:0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;

}
.hamburger-middle{
  transform:translateY(7px)
}
.hamburger-bottom{
  transform:translateY(14px)
}
.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle{
  display: none;
}
.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
